# CLAUDE_OPENAI_KEY
OPENAI_API_KEY=your-openai-api-key-here

# for agent aka remote_action_url
PORT=8020
# For UI to discover agent, **must match** the PORT above
REMOTE_ACTION_URL=http://localhost:8020/copilotkit
# for UI
UI_PORT=3015

# PostgreSQL connection for coagent_starter
## fill in if using postgres backend
DATABASE_URL=postgresql://coagent_starter:your-password-here@localhost:5433/fyrtest
#PGDATABASE=fyrtest
#PGUSER=coagent_starter
#PGPASSWORD=your-password-here
#PGHOST=localhost
#PGPORT=5433
